@using AgileCalendarExample.Models.ViewModels.Agile
@model AgileVacation

<div class="slonic-calendar-date slonic-calendar-colors-@Model.Color" title="@Model.Title">
    <div>@Model.Date.Day</div>
    <div>@Model.Name</div>
    <div class="agile-calendar-vacation">
        @foreach (AgileTeamMemberEvent teamMemberVacation in Model.TeamMembersVacations)
        {
            <div title="@teamMemberVacation.Event">
                <img src="@Url.Content("~/Content/img/" + teamMemberVacation.Icon + ".png")" alt="@teamMemberVacation.Event" />
            </div> 
        }
    </div>
</div>