@using AgileCalendarExample.HtmlHelperExtensions;
@using AgileCalendarExample.Models.View
@using AgileCalendarExample.App_GlobalResources

@model CalendarDateFactoryBase

<div class="slonic-calendar ui-widget-content">
    @foreach (CalendarDateBase calendarDate in Html.GetDates())
    {
        if (calendarDate.IsNewMonth)
        {
            <div class="slonic-calendar-month ui-state-default">@calendarDate.Date.ToString("MMM yyyy")</div>
            <div class="slonic-calendar-daysOfWeek">
                @foreach (String dayOfWeek in Html.GetDaysOfWeek())
                {
                    <div class="ui-state-default">@dayOfWeek</div>
                }
            </div>
        }
        
        @Html.Raw(calendarDate.WeekPeriod == PeriodEnum.Start ? "<div class=\"slonic-calendar-dates\">" : "")
        @Html.DisplayFor(m => calendarDate)
        @Html.Raw(calendarDate.WeekPeriod == PeriodEnum.End ? "</div>" : "")
    }
</div>