@using AgileCalendarExample.HtmlHelperExtensions;
@using AgileCalendarExample.Models.Domain
@using AgileCalendarExample.Models.View
@using AgileCalendarExample.App_GlobalResources

@model ReleaseCycleModel

<div class="agile-calendar ui-widget-content">
    @foreach (AgileDate agileDate in Html.GetAllDatesInReleaseCycle())
    {
        if(agileDate.IsNewMonth)
        {
            <div class="agile-calendar-month ui-state-default">@agileDate.Date.ToString("MMM yyyy")</div>
            <div class="agile-calendar-daysOfWeek">
                @foreach (String dayOfWeek in Html.GetDaysOfWeek())
                {
                    <div class="ui-state-default">@dayOfWeek</div>
                }
            </div>
        }
        
        @Html.Raw(agileDate.WeekPeriod == PeriodEnum.Start ? "<div class=\"agile-calendar-dates\">" : "")

        if (agileDate.IsEmpty)
        {
            <div class="agile-calendar-date-empty"></div>
        }
        else
        {
            <div class="agile-calendar-date ui-state-default">@agileDate.Date.Day</div>
        }
        
        @Html.Raw(agileDate.WeekPeriod == PeriodEnum.End ? "</div>" : "")
    }
</div>