@model AgileCalendarExample.Models.DomainModels.ReleaseCycleModel

<html>
    <head>
        <title>Agile Release Cycle Calendar Example</title>
        <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/css/agile.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/css/teamMemberPicker.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/css/colorPicker.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/css/calendar.css")" rel="stylesheet" type="text/css" />
        <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
        @RenderSection("Scripts", false)
    </head>
    <body>
        <div class="main">@RenderBody()</div>
    </body>
</html>


