@using AgileCalendarExample.App_GlobalResources;
@using AgileCalendarExample.Models.ViewModels;

@model CalendarModel

<div class="slonic-calendar ui-widget-content">
    @foreach (CalendarDateBase calendarDate in Model.Dates)
    {
        if (calendarDate.IsNewMonth)
        {
            <div class="slonic-calendar-month ui-state-default">@calendarDate.Date.ToString(CalendarResources.MonthHeaderFormat)</div>
            <div class="slonic-calendar-daysOfWeek">
                @foreach (String dayOfWeek in Model.DaysOfTheWeek)
                {
                    <div class="ui-state-default">@dayOfWeek</div>
                }
            </div>
        }
        
        @Html.Raw(calendarDate.WeekPeriod == PeriodEnum.Start ? "<div class=\"slonic-calendar-dates\">" : "")
        @Html.DisplayFor(m => calendarDate, calendarDate.DisplayTemplateHint)
        @Html.Raw(calendarDate.WeekPeriod == PeriodEnum.End ? "</div>" : "")
    }
</div>