@using AgileCalendarExample.Models.DomainModels

@model ReleaseCycleModel

<div class="agile-releaseCycle">
    <div class="ui-widget-content">
        <div class="agile-releaseCycle-header ui-state-default">Planning</div>
        @Html.EditorFor(m => m.Planning)
    </div>
    @Html.EditorFor(m => m.Sprints, "AgileItemsList", new { ItemsType = "Sprints" })
    @Html.EditorFor(m => m.Holidays, "AgileItemsList", new { ItemsType = "Holidays" })
    @Html.EditorFor(m => m.Vacations, "AgileItemsList", new { ItemsType = "Vacations" })
</div>
<div class="agile-releaseCycle-trash">&nbsp;</div>
@Html.Partial("ColorsGrid")