@using AgileCalendarExample.App_GlobalResources
@using AgileCalendarExample.Models.DomainModels

@model ReleaseCycleModel

<script type="text/javascript">
    //Const values to be used in javascript
    var ReleaseCycleConsts =
	{
	    DateFormat: "@AgileResources.Js_DatePickerFormat"
	};
    //Error messages to be used in javascript
    var ReleaseCycleErrors =
	{
	    EmptyName: "@Html.Raw(AgileResources.Js_E_EmptyName.Replace("\"", "\\\""))",
	    EmptyDate: "@Html.Raw(AgileResources.Js_E_EmptyDate.Replace("\"", "\\\""))",
	    InvalidDateFormat: "@Html.Raw(AgileResources.Js_E_InvalidDateFormat.Replace("\"", "\\\""))",
	    InvalidDateInterval: "@Html.Raw(AgileResources.Js_E_InvalidDateInterval.Replace("\"", "\\\""))",
	    EmptyColorPicker: "@Html.Raw(AgileResources.Js_E_EmptyColorPicker.Replace("\"", "\\\""))",
	    EmptyTeamMemberPicker: "@Html.Raw(AgileResources.Js_E_EmptyTeamMemberPicker.Replace("\"", "\\\""))"
	};
</script>
<div class="agile-releaseCycle">
    <div class="ui-widget-content agile-releaseCycle-planning">
        <div class="agile-releaseCycle-header ui-state-default">Planning</div>
        @Html.EditorFor(m => m.Planning)
    </div>
    @Html.EditorFor(m => m.Sprints, "AgileItemsList", new { ClassName = "sprints", Header = "Sprints", EmptyRecord = new Sprint() })
    @Html.EditorFor(m => m.Holidays, "AgileItemsList", new { ClassName = "holidays", Header = "Holidays", EmptyRecord = new Holiday() })
    @Html.EditorFor(m => m.Vacations, "AgileItemsList", new { ClassName = "vacations", Header = "Vacations", EmptyRecord = new Vacation() })
</div>
<div class="agile-releaseCycle-trash">&nbsp;</div>
@Html.Partial("ColorsGrid")