@using AgileCalendarExample.Models.DomainModels

@model ReleaseCycleModel

<div class="agile-releaseCycle">
    <div class="ui-widget-content">
        <div class="agile-releaseCycle-header ui-state-default">Planning</div>
        @Html.EditorFor(m => m.Planning)
    </div>

    <div class="ui-widget-content">
        <div class="agile-releaseCycle-header ui-state-default">Sprints</div>
        @foreach (Sprint sprint in Model.Sprints)
        {
            @Html.EditorFor(m => sprint)
        }
    </div>

    <div class="ui-widget-content">
        <div class="agile-releaseCycle-header ui-state-default">Holidays</div>
        @foreach (Holiday holiday in Model.Holidays)
        {
            @Html.EditorFor(m => holiday)
        }
    </div>

    <div class="ui-widget-content">
        <div class="agile-releaseCycle-header ui-state-default">Vacations</div>
        @foreach (Vacation vacation in Model.Vacations)
        {
            @Html.EditorFor(m => vacation)
        }
    </div>
</div>
<div class="agile-releaseCycle-trash">
    Dragg items here to remove
</div>
@Html.Partial("ColorsGrid")