@model AgileCalendarExample.Models.DomainModels.ReleaseCycleModel

<html>
    <head>
        <title>Agile Release Cycle Calendar Example</title>
        <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/css/agile.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/css/teamMemberPicker.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/css/colorPicker.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/css/calendar.css")" rel="stylesheet" type="text/css" />
        <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/calendar.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/teamMemberPicker.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/colorPicker.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/agileReleaseCycle.js")"></script>
        <script type="text/javascript">
            function validateClickedHandler() {
                if (validateAgileReleaseCycle())
                    alert('Ok');
            }
            function getJsonClickedHandler() {
                document.getElementById('jsonResult').value = JSON.stringify(getJsonAgileReleaseCycle(), null, 2);
            }
            function saveClickedHandler() {
                if (!validateAgileReleaseCycle())
                    return;

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Save")",
                    data: JSON.stringify(getJsonAgileReleaseCycle()),
                    dataType: 'json',
                    contentType: 'application/json',
                    async: true,
                    success: function () { alert('Success'); },
                    error: function () { alert('Error!!!!'); }
                });
            }
        </script>
    </head>
    <body>
        <div class="main">
            <div>@Html.Action("AgileCalendar", Model)</div>
            <div>@Html.DisplayFor(m => m, "ReleaseCycle")</div>
            @Html.Action("GetTeamMembers", "TeamMembers")

            <!-- =============================== Demo controls =============================== -->
            <div>
                <input type="button" value="Save" onclick="javascript: saveClickedHandler();" />
                <input type="button" value="Validate" onclick="javascript: validateClickedHandler();"  />
                <input type="button" value="Get Json" onclick="javascript: getJsonClickedHandler();" />
                <label for="jsonResult">Schedule JSON:</label>
                <textarea id="jsonResult" class="json"></textarea>
            </div>
        </div>
    </body>
</html>


